* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
	background: url(../images/bg_banner.jpg) no-repeat fixed 100%;
	z-index: -5;
}
input,textarea,select{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
	font-size: 16px;
	font-weight: 600;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}

p{
	line-height:1.6em;
	font-size: 18px;
	font-weight: 600;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
::placeholder {
  color: #9B9B9B;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9B9B9B;
}

::-ms-input-placeholder {
  color: #9B9B9B;
}

header{
	padding: 25px 0;
	background: rgba(156, 156, 156, 0.9);
	width: 100%;
	position: absolute;
	top: 50px;
}
header section.wrapper{
	display: flex;
	justify-content: space-between;
    align-items: center;
}
header h1{
    
}
header h1 a{
	color: #fff;
	font-size: 22px;
}
header nav{
	width: 50%;
}
header nav ul{
    display: flex;
	justify-content: center;
}
header nav ul li{
	margin-right: 30px;
}
header nav ul li:last-child{
	margin-right: 0px;
}
header nav ul li a{
    color: rgb(204, 204, 204);
}
header nav ul li:first-child a{
    color: #fff;
}
header div.right {
    
}
header div.right a.button{
    padding: 16px;
	background-color: #005af2;
	border-radius: 50%;
}
header div.right a{
    color: #fff;
}

#spotlight{
	background: url(../images/bg_image_1.jpg) no-repeat;
	background-size: cover;
	color: #fff;
}

#spotlight div.overlay{
	content: "";
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
}
#spotlight section.wrapper{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
#spotlight h3{
	
}
#spotlight p{
	margin: 20px 0;
	color: #fff;
	font-size: 30px;
	font-weight: normal;

}
#spotlight p span{
	color: #005af2;
	font-weight: 800;
	font-size: 34px;

}
#spotlight span{

}
#spotlight span.box{
	padding: 12px 40px;
	background-color: #383739;
	border-radius: 24px;
	color: #005af2;
}

#profile{
	padding: 100px 0 35px;
	background: #fff;
}
#profile section.wrapper{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#profile div.left{
	width: 40%;
	margin-right: 50px;
	position: relative;
}
#profile div.left div.image{
	width: 60%;
	position: relative;
}
#profile div.left div.image div.box{
	height: 100%;
	width: 100%;
	border: 4px solid #005af2;
	position: absolute;
    top: -20px;
    left: 20px;
    z-index: -2;
}
#profile div.left div.image img{
	display: block;
	width: 100%;
}
#profile div.right{
	width: 45%;
}
#profile div.right h3{
	font-size: 32px;
	margin-bottom: 10px;
}
#profile div.right span{
	color: #005af2;
}
#profile div.right p{
	font-size: 16px;
	font-weight: normal;
	color: grey;
	margin: 10px 0;
}
#profile div.right ul{
	display: flex;
	flex-direction: column;
}
#profile div.right ul li{
	margin: 6px 0;
	position: relative;
}
#profile div.right ul li span{
	border: 2px solid #005af2;
    display: inline-block;
    width: 12px;
	height: 12px;
    margin-right: 15px;
    border-radius: 50%;
}
#profile div.right ul li span::after {
    content: "";
    border-left: 1px solid #005af2;
    height: 21px;
    position: absolute;
    top: 14px;
    left: 5px;
}
#profile div.right ul li:last-child span::after {
	border: none;
}
#profile div.right ul li b{
	
}
#profile div.right a{
	
}
#profile div.right a.button{
	margin: 20px 0;
	border: 2px solid #005af2;
	padding: 12px 16px;
	display: inline-block;
	color: #005af2;
	border-radius: 12px;
} 

#skills{

padding: 20px 0 60px;

background: #fff;
}
#skills h3{
	text-align: center;
	font-size: 32px;
	margin-bottom: 20px;
}
#skills div.container{
	display: flex;
	justify-content: flex-start;
}
#skills div.container div.content{
	width: 50%;
}
#skills div.container div.content h5{

	font-size: 22px;
	margin-bottom: 10px;
	font-weight: bold;
}
#skills div.container div.content ul{

}
#skills div.container div.content ul li{

}
#skills div.container div.content ul li h6{
	font-size: 18px;
}
#skills div.container div.content ul li div.border{

border: 3px solid #005af2;

padding: 1px;

border-radius: 20px;

width: 90%;

margin: 8px 0;
}
#skills div.container div.content ul li div.border span{
	font-size: 14px;
	text-align: center;
	color: #fff;
	border-radius: 30px;
	padding: 3px 16px;
	background: #005af2;
	display: block;
	width: 85%;
}
#skills div.container div.content ul li:first-child div.border span{
	width: 86%;
}
#skills div.container div.content ul li:nth-child(2) div.border span{
	width: 80%;
}
#skills div.container div.content ul li:nth-child(3) div.border span{
	width: 100%;
}
#skills div.container div.content ul li:last-child div.border span{
	width: 95%;
}
#skills div.container div.right ul li:first-child div.border span{
	width: 82%;
}
#skills div.container div.right ul li:nth-child(2) div.border span{
	width: 75%;
}
#skills div.container div.right ul li:last-child div.border span{
	width: 90%;
}

#education{

background: #fff;
}
#education section.wrapper{
	display: flex;
	justify-content: space-between;
}
#education div.container{
	width: 45%;
	margin-right: 3%;
}
#education div.container h4{
	font-size: 32px;
	margin: 20px 0;
}
#education div.container ul{

}
#education div.container ul li{
    display: flex;
    align-items: baseline;
}
#education div.container ul li div.circle {
	width: 30px;
	height: 26px;
	margin-right: 10px;
	position: relative;
	top: 8px;
	left: 1px;
}
#education div.container ul li div.circle span.disc{
	height: 16px;
	width: 16px;
	display: inline-block;
	background: grey;
	border-radius: 20px;
	position: absolute;
	top: 7px;
	left: 5px;
}
#education div.container ul li div.circle span.disc.active{
	background-color: #005af2;
	position: absolute;
	top: 2px;
	left: 2px;
}
#education div.container ul li div.circle.border{
	/* background-color: #005af2; */
	border: 3px solid #005af2;
	border-radius: 26px;
	margin: 0 10px 0 0px;
}
#education div.container ul li div.circle span.disc::after{
	content: "";
	border: 0.5px solid grey;
	padding: 0px 0px 206px;
	position: absolute;
	left: 7px;
	top: 18px;
}
#education div.container ul li div.circle span.disc.last::after{
	padding: 0px 0px 160px;
}
#education div.container ul li div.content{
	
}	
#education div.container ul li div.content span.year.active{
	background-color: #005af2;
}
#education div.container ul li div.content span.year{
	background: grey;
	padding: 10px 22px;
	width: 45%;
	display: inline-block;
	border-radius: 100px 0 200px 100px;
	margin-bottom: 10px;
	color: #fff;
}
#education div.container ul li div.content div.content-wrap{
	background: lightgrey;
	padding: 20px 16px;
	margin-bottom: 20px;
	border-radius: 4px;
}
#education div.container ul li div.content div.content-wrap h3{
	font-weight: 600;
}
#education div.container ul li div.content div.content-wrap small{
	display: inline-block;
	color: blue;
	font-size: 16px;
	margin: 12px 0;
}
#education div.container ul li div.content div.content-wrap p{
	font-size: 16px;
	font-weight: 300;
}

#services{
	padding: 10% 0 7%;
	background: #fff;
}
#services section.wrapper{
	text-align: center;
	display: flex;
	flex-direction: column;
}
#services span.bg{
	display: inline-block;
	background: #d6e3ff;
	width: 12%;
	margin: 0 auto;
	padding: 8px;
	border-radius: 20px;
	color: blue;
}
#services h3{
	font-size: 40px;
	margin: 10px 0 50px;
}
#services ul{
	display: flex;
	justify-content: space-between;
}
#services ul li{
	width: 20%;
}
#services ul li div.image{
	width: 80px;
	height: 80px;
	margin: 0 auto 20px;
	background: #e8e8e8;
	padding: 50px;
	border-radius: 50%;
	position: relative;
}
#services ul li div.image img{
	display: block;
	width: 25px;
	margin: auto;
	position: absolute;
	top: 37px;
	left: 37px;
}
#services ul li h5{
	font-size: 25px;
	margin-bottom: 12px;
	color: blue;
}
#services ul li p{
    font-weight: normal;
}

#background{

}
#background div.bg{
	background: rgba(0, 0, 0, 0.4);
}
#background ul{
	text-align: center;
	display: flex;
	justify-content: space-between;
}
#background ul li{
	width: 23%;
	margin: 10% 0;
	color: #fff;
	display: flex;
	flex-direction: column;
}
#background ul li span{
	font-size: 40px;
	font-weight: 600;
}
#background ul li small{
	font-size: 16px;
	margin-top: 10px;
}

#work{
	background: #fff;
	padding-bottom: 10px;
}
#work div.top{
	padding: 10% 0 7%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#work div.top span.bg{
	padding: 5px 25px;
	background: #a0bbfa;
	border-radius: 32px;
	color: blue;
}
#work div.top h3{
	margin: 20px 0;
	font-size: 40px;
}
#work div.top ul{
	width: 40%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#work div.top ul li{
	margin-right: 5px;
	margin-bottom: 10px;
	border: 2px solid #9B9B9B;
	border-radius: 32px;
}
#work div.top ul li:last-child, #work div.top ul li:nth-child(5){
	margin-right: 0px;
}
#work div.top ul li div.border{
	padding: 2px;
	border-radius: 32px;
}
#work div.top ul li:hover{
	border: 2px solid #005af2;
}
#work div.top ul li a{
	font-weight: normal;
	display: block;
}
#work div.top ul li a.button{
	padding: 5px 15px;
	border-radius: 32px;
}
#work div.top ul li a.button:hover{
	background: #005af2;
	color: #fff;
}
#work div.bottom{
	
}
#work div.bottom ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 40px;
}
#work div.bottom ul li{
	width: 31%;
	margin-right: 25px;
	margin-bottom: 25px;
	position: relative;
	cursor: pointer;
	/* border-radius: 69px; */
}
#work div.bottom ul li div.image{
	/* width: 100%; */
	/* border-radius: 20px; */
}
#work div.bottom ul li div.image img{
	display: block;
	width: 100%;
	border-radius: 8px;
}
#work div.bottom ul li div.content{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 15%;
	background: #323131;
	width: 100%;
	padding: 10px 18px;
	border-radius: 0 0 8px 8px;
	opacity: 0;
	transition: height 1s;
}
#work div.bottom ul li div.content:hover{
	opacity: 1;
	cursor: pointer;
	height: 30%;

}
#work div.bottom ul li div.content p{
	color: #0052fa;
}
#work div.bottom ul li div.content small{
	color: #fff;
}
#work div.bottom a.button{
	background: blue;
	padding: 16px;
	color: #fff;
	/* margin: 0 auto; */
	/* display: block; */
	text-align: center;
	width: 15%;
	border-radius: 8px;
	border: 2px solid white;
	box-shadow: 1px 1px 4px #000;
	/* margin: 10px auto; */
}
#work div.bottom a{
	display: block;
	/* padding-bottom: 32px; */
	margin: 0 auto;
	transition: all 1s;
}
#work div.bottom a:hover{
	transform: scale(1.2);
}

#testimonial{
	background-color: #fff;
	padding: 10% 0;
}
#testimonial div.top{

margin-bottom: 100px;
}
#testimonial div.top h3{
	text-align: center;
	font-size: 40px;
	/* margin-bottom: 35px; */
}
#testimonial div.bottom{
	height: 350px;
	display: flex;
	justify-content: center;
}
#testimonial div.bottom div.left{
	width: 33%;
	margin-right: 60px;
}
#testimonial div.bottom div.left div.image{
	background: url(../images/testimonials/testimonials_1.jpg) no-repeat;
	background-size: cover;
	height: 100%;
	border-radius: 8px;
}

#testimonial div.bottom div.right{
	width: 30%;
}
#testimonial div.bottom div.right p{
	margin-top: 40px;
	font-weight: normal;
}
#testimonial div.bottom div.right div.content{
	margin-top: 30px;
	display: flex;
}
#testimonial div.bottom div.right div.content div.image{
	background: url(../images/testimonials/testimonials_1.jpg) no-repeat;
	background-size: cover;
	height: 70px;
	width: 70px;
	border-radius: 50px;
	margin-right: 15px;
}
#testimonial div.bottom div.right div.content div.designation{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#testimonial div.bottom div.right div.content div.designation span{
	font-size: 26px;
}
#testimonial div.bottom div.right div.content div.designation small{
	font-size: 16px;
	color: grey;
}

#logos{
	background-color: #171925;
}
#logos ul{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#logos ul li{
	width: 23%;
	margin: 50px 0;
}
#logos ul li div.image{
	width: 50%;
	margin: 0 auto;
}
#logos ul li div.image img{
	display: block;
	width: 100%;
}